 <!-- content of contact page -->
<div class="section-container no-padding">
    <div class="container">
        <div class="row">
                <div class="row">
                    <div class="col-md-6">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2764.7736403668023!2d-60.1859329849319!3d46.13533869643111!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4b67fb37b611c447%3A0x8ee00a0622d083db!2s177%20Union%20St%2C%20Sydney%2C%20NS%20B1P%204Y2!5e0!3m2!1sen!2sca!4v1637458177994!5m2!1sen!2sca" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>


                    <div class="col-md-5 col-md-offset-1">
                            
                        <h3>Head Office</h3>
                        
                        <div>
                            <p>177 Union Street<br/>Sydney Nova Scotia<br/>B1P4Y2 Canada</p>
                        </div>
                        <div>
                            <p><a href="mailto:contact@jubinjohny.info">contact@jubinjohny.info</a></p>
                            <p><a href="tel:+14375334515">+1 437 533 4515</a></p>
                        </div>
                    
                        <div>
                            <h3>Employment</h3>
                        </div>
                        <div>
                            <p>{{employment}}<a href="mailto:employment@jubinjohny.info">employment@jubinjohny.info</a></p>
                        </div>
                       
                    </div>
                </div>


            </div>

        </div>

    </div>
</div>