<div class="white-text-container background-image-container" style="background-image: url('./assets/images/img-home.jpeg')">
    <div class="opacity"></div>
    <div class="container">
        <div class="row">
           
            <div class="col-md-6">
                <h1>{{title}}</h1>
                <p>Freelance Web Designer & Developer based in Ontario, Canada.<br>I help designers, small agencies and businesses bring their ideas to life. Powered by AWS, GCP and Coffee.</p>
                 <a href="/about" title="" class="btn btn-lg btn-primary">More</a>
            </div>

        </div>
    </div>
</div>

<div class="section-container border-section-container">
    <div class="container">
            <div class="row">
                <div class="col-md-12 section-container-spacer">
                    <div class="text-center">
                        <h2>How can i help you!</h2>
                        <p> Here are few things i can help you out with</p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="fa-container">
                        <img src="./assets/images/check.png" class="navbar-logo-img" alt="checked">
                    </div>
                    <div class="text-center">
                        <h3>Website Design</h3>
                    </div>
                    <div>
                        <p>My approach to website design is to create a website that strengthens your company’s brand while ensuring ease of use and simplicity for your audience.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="fa-container">
                        <img src="./assets/images/check.png" class="navbar-logo-img" alt="checked">
                    </div>
                    <div class="text-center">
                        <h3>App Development</h3>
                    </div>
                    <div>
                        <p>Every business has unique problems that can be fixed with the right software solution. My approach is to create an app design that strengthens your company’s brand while ensuring ease of use and simplicity for your audience.
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="fa-container">
                        <img src="./assets/images/check.png" class="navbar-logo-img" alt="checked">
                    </div>
                    <div class="text-center">
                        <h3>App Development</h3>
                    </div>
                    <div>
                        <p>Every business has unique problems that can be fixed with the right software solution. My approach is to create an app design that strengthens your company’s brand while ensuring ease of use and simplicity for your audience.
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="fa-container">
                        <img src="./assets/images/check.png" class="navbar-logo-img" alt="checked">
                    </div>
                    <div class="text-center">
                        <h3>App Development</h3>
                    </div>
                    <div>
                        <p>Every business has unique problems that can be fixed with the right software solution. My approach is to create an app design that strengthens your company’s brand while ensuring ease of use and simplicity for your audience.
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="fa-container">
                        <img src="./assets/images/check.png" class="navbar-logo-img" alt="checked">
                    </div>
                    <div class="text-center">
                        <h3>App Development</h3>
                    </div>
                    <div>
                        <p>Every business has unique problems that can be fixed with the right software solution. My approach is to create an app design that strengthens your company’s brand while ensuring ease of use and simplicity for your audience.
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="fa-container">
                        <img src="./assets/images/check.png" class="navbar-logo-img" alt="checked">
                    </div>
                    <div class="text-center">
                        <h3>Cloud Development</h3>
                    </div>
                    <div>
                        <p>I can help you with all your Cloud Native DevOps infrastructure migration. Monitoring, securing and taking part of the form in automating and supporting to ensure CI/CD in product development.
                        </p>
                    </div>
                </div>

            </div>
    </div>
</div>

<div class="section-container background-color-container white-text-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="text-center">
                    <h2>My Startup Projects</h2>
                    <p> I'm a bit of a digital product junky. Over the years, I've used hundreds of web and cloud apps in different industries and verticals. Eventually, I decided that it would be a fun challenge to try designing and building my own.</p>
                    <a href="/projects" title="" class="btn btn-primary btn-lg">View Projects</a>
                </div>
            </div>
        </div>
     </div>
 </div>

 <div class="section-container">
    <div class="container">
        <div class="row">                   
            <div class="col-md-7">
                <img class="img-responsive" src="./assets/images/img-06.png" alt="">
            </div>

            <div class="col-md-5">
                <ul class="features">
                    <li>
                        <h3>Dui augue</h3>
                        <p>Auctor augue mauris augue neque. Posuere lorem ipsum dolor sit amet consectetur adipiscing.
                        </p>
                    </li>
                    <li>
                        <h3>Malesuada</h3>
                        <p>Auctor augue mauris augue neque. Posuere lorem ipsum dolor sit amet consectetur adipiscing.
                        </p>
                    </li>
                    <li>
                        <h3>Bibendum</h3>
                        <p>Auctor augue mauris augue neque. Posuere lorem ipsum dolor sit amet consectetur adipiscing.
                        </p>
                    </li>
                </ul>
            </div>    
        </div>
    </div>
</div>
