<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Yeti Bootstrap Theme from bootswatch -->

    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'
  </head>
  <body>
    
    <!-- Bootstrap 4 navbar from w3schools https://www.w3schools.com/bootstrap4/bootstrap_navbar.asp -->
    <!-- A grey horizontal navbar that becomes vertical on small screens -->
  <nav class="navbar navbar-expand-sm bg-light">

  <!-- Links -->
  <ul class="navbar-nav">
      <a class="nav-brand" href="/">Welcome to the Project Tracker</a>
    <li class="nav-item">
      <a class="nav-link" href="/about">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/users">Users</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/Projects">Projects</a>
    </li>
  </ul>

</nav>
{{{body}}}
  </body>
</html>
