<div class="section-container">
    <div class="container">
        <div class="row section-container-spacer">
            <div class="col-xs-12">
                <div class="text-center">
                    <h1>My recent projects</h1>
                </div>
                <div class="col-md-8 col-md-offset-2">
                    <p>Here are a few design projects I've worked on recently.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
              <div class="text-center">
                <h4>Whisk a Treat</h4></div>
              <img class="img-responsive" src="./assets/images/Whisk a Treat.png">
                <div class="pricing-features">
                    <ul class="features">
                      <li>HTML, CSS, Javascript</li>
                      <li>Postgresql</li>
                      <li>AWS S3 </li>
                      <li>Grafana</li>
                      <li>Prometheus</li>
                      <li>AWS SQS</li>
                      <li>AWS ACM</li>
                    </ul>

                    <a href="whiskatreat.com" class="btn btn-primary" title="">View</a>
                </div>

            </div>
            <div class="col-md-4">
              <div class="text-center">
                <h4>Ensomerge</h4></div>
                  <img class="img-responsive" src="./assets/images/Ensomerge.png">
                
                <div class="pricing-features">
                    <ul class="features">
                        <li>LAMP</li>
                        <li>HTML, CSS, Javascript</li>
                        <li>AWS Ec2 </li>
                        <li>AWS S3 </li>
                        <li>AWS VPC</li>
                        <li>Prometheus</li>
                        <li>AWS SQS</li>
                    </ul>
                    
                    <a href="https://wfm.ensomerge.com/" class="btn btn-primary" title="">View</a>
                </div>
            </div>
            <div class="col-md-4">
              <div class="text-center">
              <h4>Drinkprime</h4></div>
              <img class="img-responsive" src="./assets/images/Drinkprime.png">
                <div class="pricing-features">
                    <ul class="features">
                      <li>Kubernetes and Docker</li>
                      <li>AWS Cloudformation</li>
                      <li>Kong and Konga </li>
                      <li>Nord Exporter, Grafana, Prometheus</li>
                      <li>AWS Load Balancer</li>
                      <li>Jenkins</li>
                      <li>AWS Lambda and Eventbridge</li>
                    </ul>
                    <a href="https://drinkprime.in/" class="btn btn-primary" title="">View</a>
                </div>
            </div>
        </div>
    </div>
</div>  